.container {
  width: 70%;
  margin: auto;
  text-align: center;
  display: flex;
  justify-content:center;
  align-items: center;
  
}
/* 
.containerOut{
  width: 100%;
  height: 100vh;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
} */

.dice {
  text-align: center;
  display: inline-block;

}

i {
  align-self: flex-end;
  
}

.hidden{
  visibility: hidden;
}

body {
  background-color: #393E46;
}

h1 {
  align-self: center;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

span{
  font-size: 20px;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
